name: CE Solution Automation


on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs: 
     solution_name:
        description: 'Name of the solution to work on from Power Platform'
        required: true
        default: Trial
        type: choice
        options:
          - Trial
   
permissions: 
   id-token: write
   contents: read
   
jobs:
  export-solution:
    runs-on: windows-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          secret-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          
          
 
      - name: Install Power Platform CLI (Marketplace)
        uses: microsoft/powerplatform-actions/actions-install@v1.9.1
 
      - name: who-am-i
        uses: microsoft/powerplatform-actions/who-am-i@v1.9.1
        with:
          environment-url: ${{ vars.CE_URL }}
          app-id: ${{ secrets.CLIENT_ID }}
          secret-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          
 
      - name: Publish Solution
        uses: microsoft/powerplatform-actions/publish-solution@v1.9.1
        with:
          environment-url: ${{ vars.CE_URL }}
          app-id: ${{ secrets.CLIENT_ID }}
          secret-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
      

      - name: Export Unmanaged Solution
        uses: microsoft/powerplatform-actions/export-solution@v1.9.1
        with:
          environment-url: ${{ vars.ENVIRONMENT_URL }}
          app-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          secret-id: ${{ secrets.AZURE_CLIENT_ID }}
          solution-name: ${{ github.event.inputs.solution_name }}

     
