name: CE Solution Automation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  export-solution:
    runs-on: windows-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup .NET (for PAC)
        uses: actions/setup-dotnet@v4
        with:
         dotnet-version: '9.x'
 
      - name: Install Power Platform CLI (Marketplace)
        uses: microsoft/powerplatform-actions/actions-install@v1.9.1
        

      - name: Authenticate to Dataverse
        run: pac auth create --url ${{ secrets.CE_URL }} \
                             --applicationId ${{ secrets.AZURE_CLIENT_ID }} \
                             --tenant ${{ secrets.AZURE_TENANT_ID }}
                             --githubFederated

      - name: Export Solution
        run: pac solution export --name Trial \
                                 --outputDirectory ./solutions \
                                 --includeVersion

      - name: Unpack Solution
        run: pac solution unpack --zipFile ./solutions/Trial.zip \
                                 --folder ./src/Trial \
                                 --allowDelete true

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git diff --cached --quiet || git commit -m "Automated export from CE"
          git push
